
.login-form-1 {
    
    font-weight: 600;
    text-decoration: none;
    padding: 0px;
}



.card {
   
    width: 500px;
    height: 440px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow:  0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin-left: 100px;
    margin-bottom: 100px;;
}
.container { 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    
    margin-bottom: 20px;
    ;
  }
.code {
    width: 30%;
    margin-left: 35%;
    margin-bottom:15px;
    margin-top: 15px;;
}
.app {
    width:30%;
    margin-left: 14%;
   
}
body {
   background-image: url('background.png') ;
   background-size: 600px 500px;
   background-repeat: no-repeat;
   background-position: 50% -10%;
   background-size: 120% auto;
   margin-top: 00px; 
   padding-left: 1px; 
   margin-bottom: 0px;
}
p {
    font-size: 14px !important;
    text-align: center;
    color: #313136;
}
.footer-links {
    color: white;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.btn-info {
    background-color: #0B3442;
    outline-color: #0B3442 !important;
    align-content: center !important;
    
}

.form {
    padding: 50px;
    margin: 5px;
}

h1 {
    margin-bottom: 16px;
    margin-left: 450px;
    text-align: center !important;
}

.login-container {
    padding: 0px;
    margin: 100px;
    margin-bottom: 0px;
    margin-top: 30px;

}
html {
    padding: 0px;
}
.yukonLogo {
    padding-bottom: 15px;
    height: 100px;
}
h6 {
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:#0B3442;
}

hr {
    font-family: 'Rubik', Helvetica, sans-serif;
    border-top: 2px solid #1C778C;
    width: 200px;
}
h5 {
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    color:#0B3442;
}
.signUp {
    font-family: 'Rubik', Helvetica, sans-serif;
    color: teal;
    text-decoration: none;
}
.navbar-links {
    font-family: 'Rubik', Helvetica, sans-serif;
    color: teal;
}
.account {
    font-family: 'Rubik', Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
}

label {
    font-family: 'Rubik', Helvetica, sans-serif;
    color:#0B3442;
}

.mapCard {
    margin-left: 55px;
    margin-right: 20px;
}

.formCard {
    margin-right: 20px;
    margin-left: 20px;
}
.pin {
    height: 5%;
}
.form-group {
    margin-top: 30px;
}